.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.4rem;
}

.footer ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer a {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .footer p {
    display: none;
  }
  .footer {
    justify-content: center;
  }
}
