.banner {
  text-align: center;
  padding: 2rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner h2 {
  padding: 64px 64px 16px 64px;
  margin: 0;
  line-height: 1;
  margin-top: 2rem;
}
.banner h3 {
  font-size: 1.4rem;
  padding-left: 64px;
  padding-right: 64px;
  letter-spacing: -1px;
}
.banner-socials {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.banner a {
  font-size: 1.4rem;
}
